@import '../common.less';
#craftCreateForCloth{
  .tableCtn{
    margin: 20px 0;
    .line{
      line-height: 32px;
      .once{
        font-size: @fontMiddle;
        color: @font65;
        height: 32px;
        padding: 6px;
        display: inline-block;
        text-align: center;
        width: 7em;
        border: 1px solid #E9E9E9;
        border-bottom: 0;
        border-right: 0;
        vertical-align: middle;
        position: relative;
        &:nth-last-child(1){
          border-right: 1px solid #E9E9E9;
        }
        .biaotou{
          position: absolute;
          &.leftBottom{
            left:12px;
            bottom: -2px;
          }
          &.rightTop{
            right: 12px;
            top: -2px;
          }
        }
        .xiexian{
          width: 122px;
          height: 1px;
          position: absolute;
          background: #E9E9E9;
          left: 0;
          top: 0;
          transform-origin: left;
          transform: rotate(21.3deg);
        }
      }
      &:nth-last-child(1){
        .once{
          border-bottom: 1px solid #E9E9E9;
        }
      }
    }
  }
  .addTableCtn{
    margin: 20px 32px;
    padding-bottom: 20px;
    overflow: auto;
    .line{
      display: flex;
      flex-wrap: wrap;
      width: 2000px;
      .lineChild{
        width: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        &:not(:last-child) { 
         .once{
           border-bottom: 0;
         }
      }
      }
      .once{
        font-size: @fontMiddle;
        color: @font65;
        padding: 6px;
        line-height: 38px;
        width: 8em;
        border: 1px solid #E9E9E9;
        border-bottom: 0;
        border-right: 0;
        vertical-align: middle;
        position: relative;
        &.middle{
          display: flex;
          flex-direction: column;
          justify-content: center;
          line-height: normal;
        }
        &:nth-last-child(1){
          border-right: 1px solid #E9E9E9;
        }
        &.flex3{
          width: 362px;
        }
        &.flex2{
          width: 237px;
        }
      }
      &:nth-last-child(1){
        .once{
          border-bottom: 1px solid #E9E9E9;
        }
      }
    }
  }
  .bgGray{
    background: #FAFAFA;
  }
  .popup{
    .mainCtn{
      width: 800px;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .videoCtn{
        .fileCtn{
          width: 800px;
          height: 600px;
          position: relative;
          &:hover{
            .btnCtn{
               display: flex;
            }
          }
          .btnCtn{
            display: none;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: rgba(0,0,0,0.6);
            color: #fff;
           
            align-items: center;
            justify-content: center;
            .btn1{
              margin: 30px;
              display: flex;
              flex-direction: column;
              text-align: center;
              font-size: 18px;
              cursor: pointer;
              &:hover{
                color: #1a95ff;
              }
              .el-icon{
                font-size: 30px;
                margin-bottom: 12px;
              }
            }
          }
        }
      }
      .imgCtn{
        width: 800px;
        background: rgba(0,0,0,0.6);
        font-size: 0;
        .imgChild{
          width: 160px;
          height: 120px;
          border: 2px solid #cccccc;
          padding: 8px;
          cursor: pointer;
          margin: 10px;
          display: inline-block;
          position: relative;
          &.choose{
            border-color: #1a95ff;
          }
          &:hover{
            .btnCtn{
              display: flex;
            }
          }
        }
        .btnCtn{
          display:none;
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background: rgba(0,0,0,0.6);
          color: #fff;
          align-items: center;
          justify-content: center;
          .el-icon{
            font-size: 20px;
            margin-right: 12px;
            cursor: pointer;
          }
        }
        .img{
          width: 160px;
          height: 120px;
        }
      }
    }
  }
  .imgCtns{
    position: relative;
    width: 148px;
    height: 148px;
    margin: 0 8px 8px 0;
    display: inline-block;
    border-radius: 4px;
    &:hover{
      .btnCtn{
        display: flex;
      }
    }
    .avatar{
      width: 148px;
      height: 148px;
      position: relative;
      border-radius: 4px;
    }
    .btnCtn{
      display:none;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: rgba(0,0,0,0.6);
      color: #fff;
      align-items: center;
      justify-content: center;
      .el-icon{
        font-size: 20px;
        margin-right: 12px;
        cursor: pointer;
      }
    }
  }
}