@import '../common.less';
#materialStockDetail{  
  .bgGray_page{
    background-color: #FBFBFB;
    margin: 16px 0;
  }
  .flex5{
    flex: 5;
  }
  .flex4{
    flex: 4;
  }
  .flex30{
    flex:3
  }
  .flex2{
    flex: 2;
  }
  .flex15{
    flex: 1.5;
  }
  .flex06{
    flex: 0.8;
  }
  .max40{
    max-width: 40px;
  }
  .editCtn{
    .colCtn{
      display: flex;
      flex-direction: column;
      &.flex3{
        max-width: 341px;
      }
      .content{
        display: flex;
        .colCtn{
          margin-right: 0;
          margin-left: 24px;
          &:first-of-type{
            margin: 0;
          }
        }
      }
    }
  }
  .rowCtn{
    &.col{
      flex-direction: column;
      margin: 0;
    }
    .btnCtn_page{
      display: flex;
      justify-content: flex-end;
      margin-bottom: 8px;
    }
  }
  .green{
    color:@green
  }
  .orange{
    color:@orange
  }
}