@import '../common.less';
#orderList{
  .flex08{
    flex: 0.8;
  }
  .flex12{
    flex: 1.2;
  }
  .flex16{
    flex: 1.6;
  }
  .green{
    color: @green;
  }
  .orange{
    color: @orange;
  }
  .red{
    color: @red;
  }
}