@import '../common.less';
#orderCreate{
  .checkProBox{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    .flexWarp{
      position: relative;
      width: 33%;
      padding-right: 72px;
      box-sizing: border-box;
      margin: 4px 0;
      .editBtn{
        position: absolute;
        left: auto;
        width: 72px;
        right: 0;
        margin: 0;
        text-align: center;
      }
    }
  }
  .tableCtnNew{
    margin: 20px 32px;
    overflow: auto;
    .line{
      display: flex;
      flex-wrap: nowrap;
      .lineChild{
        width: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        &:not(:last-child) { 
         .once{
           border-bottom: 0;
         }
        }
      }
      .lineChildCtn{
        &:not(:last-child) { 
          .once{
            border-right: 0;
          }
         }
      }
      .once{
        font-size: @fontMiddle;
        color: @font65;
        padding: 6px 12px;
        line-height: 38px;
        min-height: 38px;
        min-width: 7em;
        border: 1px solid #E9E9E9;
        border-bottom: 0;
        border-right: 0;
        vertical-align: middle;
        position: relative;
        &.middle{
          display: flex;
          flex-direction: column;
          justify-content: center;
          line-height: normal;
        }
        &:nth-last-child(1){
          border-right: 1px solid #E9E9E9;
        }
        &.justOne{
          height:89px
        }
        &.red{
          color: @red;
        }
        &.blue{
          color:@blue;
        }
        .biaotou{
          position: absolute;
          &.leftBottom{
            left:16px;
            bottom: -2px;
          }
          &.rightTop{
            right: 16px;
            top: -2px;
          }
        }
        .xiexian{
          width: 132px;
          height: 1px;
          position: absolute;
          background: #E9E9E9;
          left: 0;
          top: 0;
          transform-origin: left;
          transform: rotate(21.9deg);
        }
        .opr{
          cursor: pointer;
        }
        &.gray{
          background: #FAFAFA;
        }
        &.bigWidth{
          min-width: 10em;
        }
        .inputs{
          height: 32px;
          line-height: 32px;
        }
      }
      &:nth-last-child(1){
        .once{
          border-bottom: 1px solid #E9E9E9;
        }
      }
    }
  }
  .timeCtn{
    display: flex;
    .label{
      white-space: nowrap;
      line-height: 32px;
      height: 32px!important;
      margin-right: 16px;
    }
  }
  .add_batch_btn{
    width: 74px;
  }
  .flex40{
    flex: 4!important;
  }
  .flex06{
    flex: 0.6!important;
  }
  .warn_setting{
    width: 100%;
    display: flex;
    flex-direction: column;
    .warn_setting_top{
      margin-bottom: 24px;
      .warn_setting_top_left{
        width: 6em;
      }
    }
    .warn_setting_bottom{
      padding: 0 60px;
      box-sizing: border-box;
    }
  }
}