@import '../common.less';
@companyTop : 65/1080*100%;
@companyLeft: 24/1920*100%;
@timeTop:65/1080*100%;
@timeRight:26/1920*100%;
@clientInfoTop:93.5%;
@clientInfoRight:(1920 - 1875)/1920/2 * 100%;
// calc(100% * (1875/1920))
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#screenShipments{
  width: 100%;
  height: 100%;
  min-width: 1920px;
  min-height: 1080px;
  font-family: 'systemfont';
  font-weight: 300;
  font-size: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: url('https://zhihui.tlkrzf.com/1584516802000.png') 0 0 no-repeat; 
  background-size: 100% 100%;
  color: #FFF;
  position: relative;
  .head{
    width: 100%;
    height: 12.5%;
    padding-top: 17px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    h1{
      margin: 0;
      padding: 0;
      display: inline-block;
      font-size: 2rem;
      font-weight: 500;
      color: #02E5FF;
    }
  }
  .label{
    height:80%;
    width: calc(100% * (1875/1920));
    margin: 0 auto;
    border: 3px solid #53C5CA;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    .title {
      flex:1;
      color: #02E5FF;
      box-sizing: border-box;
      display: flex;
      background-color: #0D264A;
      padding: 0 22px;
      &>span{
        flex: 1;
        display: flex;
        height: 100%;
        align-items: center;
        &.center{
          justify-content: center;
        }
      }
      .warp{
        flex-direction: column;
        justify-content: center;
        &>span{
          line-height: 1.2em;
        }
      }
    }
    &>.content{
      flex: 10;
      .tableCtnLv2{
        height: 100%;
        color: #FFF;
        display: flex;
        flex-direction: column;
        .tb_content{
          flex: 1;
          color: #FFF;
          border-color: #144180;            
          &:nth-child(2n){
            background: #12224F;
          }
          .tb_row{
            word-break: break-all;
          }
        }
        .iconType{
          display: flex;
          justify-content: center;
          align-items: center;
          height: 50px;
          width: 50px;
          background: url('../../image/bigScreenBg/bg-order.png') 0 0 no-repeat;
          background-size: 100% 100%;
          &.sample{
            background-image:url('../../image/bigScreenBg/bg-sample.png');
          }
        }
        .nowType {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 30px;
          width: 100px;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: 0 0;
          &.running{
            background-image:url('../../image/bigScreenBg/running.png');
          }
          &.overdue{
            background-image:url('../../image/bigScreenBg/overdue.png');
          }
          &.complete{
            background-image:url('../../image/bigScreenBg/complete.png');
          }
        }
        .progress_item{
          position: relative;
          .inner_icon{
            width: 40px;
            height: 40px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            background-size: 100%;
            background-repeat: no-repeat;
            &.order{
              background-image: url(../../image/bigScreenBg/icon-order.png);
            }
            &.orderMaterial{
              background-image: url(../../image/bigScreenBg/icon-material.png);
            }
            &.stock{
              background-image: url(../../image/bigScreenBg/icon-stock.png);
            }
            &.weave{
              background-image: url(../../image/bigScreenBg/icon-weave.png);
            }
            &.receive_dispatch{
              background-image: url(../../image/bigScreenBg/icon-receive-dispatch.png);
            }
            &.inspection{
              background-image: url(../../image/bigScreenBg/icon-inspection.png);
            }
            &.outBound{
              width: 25px;
              height: 25px;
              background-image: url(../../image/bigScreenBg/icon-outbound.png);
            }
          }
        }
      }
    }
  }
  .footed{
    height: 7.5%;
    max-height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .company-name{
    position: absolute;
    top: @companyTop;
    left: @companyLeft;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 24px;
    img{
      width: 30px;
    }
    span{
      font-size: 29px;
      color: #E0364F;
      margin-left: 1rem;
    }
  }
  .client-info{
    position: absolute;
    top: @clientInfoTop;
    right: @clientInfoRight;
    height: auto;
    font-size: 16px;
    .logo{
      display: flex;
      align-items: center;
      img{
        width: 20px;
      }
      span{
        margin-left: 0.5rem;
      }
    }
  }
  .timeInfo{
    position: absolute;
    top: @timeTop;
    right: @timeRight;
    display: flex;
    font-size: 24px;
    align-items: center;
  }
  .flex18{
    flex: 1.8!important;
  }
  .flex3{
    flex: 3!important;
  }
}