@import '../common.less';
#logStatistics{
  .statistics{
    background:rgba(240,240,240,1);
    line-height: 48px;
    margin-top: 12px;
    display: flex;
    .oneBox{
      flex: 1;
      padding: 0 20px;
      font-size: @fontMiddle;
      display: flex;
      .label{
        font-weight: bold;
        color: @font85;
        margin-right: 12px;
      }
      .content{
        font-weight: normal;
        color: @font65;
      }
    }
  }
  .blue{
    color: @blue;
  }
  .green{
    color: @green;
  }
  .red{
    color: @red;
  }
  .list{
    .title{
      font-size: 14px;
    }
    .row{
      font-size: 12px;
    }
  }
}