@import '../common.less';
#materialPlanDetail{
  .flex20{
    flex: 2.0;
  }
  .flex04{
    flex: 0.4;
  }
  .flex08{
    flex: 0.8;
  }
  .positionBtn{
    float: right;
    display: flex;
    align-items: center;
    line-height:55px;
    height: 100%;
    font-size: @fontMiddle;
  }
  .paddingTop60{
    padding-top: 60px;
  }
  .swichCtn{
    border-top: 0;
    margin-top: 0;
    margin-bottom: 16px;
    position: relative;
    height: 46px;
    overflow: hidden;
    .swich:hover{
      background-color: rgba(26, 149, 255, 0.25);
    }
    .handleBtn{
      position: absolute;
      top: 50%;
      width: 32px;
      height: 44px;
      line-height: 44px;
      text-align: center;
      background-color: #FFF;
      transform: translateY(-50%);
      cursor: pointer;
      &::after{
        content: '';
        display: block;
        border: 9px solid transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
      &.right{
        right: 0;
        &:after{
          border-left-color: @blue;
        }
      }
      &.left{
        left: 0;
        &:after{
          border-right-color: @blue;
        }
      }
    }
    .swichCtnBox{      
      display: flex;
      flex-wrap: nowrap;
      transition: all 0.3s linear;
      position: absolute;
    }
  }
  .tb_collapse{
    width: 100%;
    border: none;
    .two_line{
      line-height: calc(1em + 8px)
    }
  }  
  .bigPadding{
    padding: 0 0 0 40px;
    box-sizing: border-box;
  }
  // 以下为衣服物料计划单的新增样式
  .fontBold{
    font-weight: 600;
    // color: rgba(0,0,0,1);
  }
  .minH30{
    min-height: 30px;
  }
  .noBorder{
    border: none;
  }
  .noPadding{
    padding: 0;
  }
  .haveBorder{
    border: 1px solid #E9E9E9;
    border-top: none;
  }
  .green{
    color: @green;
  }
  .orange{
    color: @orange;
  }
  .red{
    color: @red;
  }
}