@import '../common.less';
#materialPlanCreate{
  .tb_collapse{
    width: 100%;
    border: none;
    .two_line{
      line-height: calc(1em + 8px)
    }
  }
  .noBgColor{
    background-color: transparent;
  }
  .smallHeight{
    min-height: 40px;
    line-height: 40px;
  }
  .bigPadding{
    padding: 0 0 0 40px;
    box-sizing: border-box;
  }
  .flex08{
    flex: 0.8!important;
  }
  .flex12{
    flex: 1.2!important;
  }
  .flex15{
    flex: 1.5;
  }
  // 以下是新版物料计划样式  
  .noMargin{
    margin: 0;
  }
  .noPad{
    padding: 0;
  }
  .noBorder{
    border: none;
  }
  .col_editBtn{
    margin: 0;
    padding: 0 8px;
  }
  .col_center{
    display: flex;
    justify-content: center;
  }
  .bgGary_page{
    background-color: #FBFBFB;
    margin: 16px 0;
  }  
  .closeIcon_page{
    position: absolute;
    top: 16px;
    right: 16px;
    color: @red;
    z-index: 3;
    cursor: pointer;
    font-size: 20px;
  }
  .flex34{
    flex: 3.4;
  }
  .flex04{
    flex: 0.4;
  }
  .col>.info{
    display: flex;
    flex-direction: column;
    .row_item{
      min-height: 32px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .checkbox_item{
        margin-right: 8px;
        margin-bottom: 8px;
      }
    }
  }
}