
@red:#F5222D;
@orange:#E6A23C;
@green:#01B48C;
.zhTimeProcess{
  display: block;
  height: 20px;
  padding: 25px 0;
  user-select: none;
  .processCtn{
    height:100%;
    background: #0091FF;
    position: relative;
    display: flex;
    border-radius: 10px;
    .processLine{
      text-align: center;
      // display: inline-block;
      height: 100%;
      line-height: 20px;
      font-size: 14px;
      color: #fff;
      overflow: hidden;
      text-overflow: ellipsis;
      overflow: hidden;
      &.firstLine{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }
      &.lastLine{
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
      &.notStart{
        background-color: #999;
      }
      &.isWarnStatus75{
        background-color: @orange;
      }
      &.isWarnStatus100{
        background-color: @red;
      }
    }
    .timeNode{
      position: absolute;
      width: 2px;
      top: 0;
      bottom: 0;
      background: #fff;
      cursor: pointer;
      &.unEdit{
        background:rgba(0,0,0,0);
        &::after{
          border:0;
        }
        &::before{
          border:0;
        }
      }
      &::after{
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border:6px solid transparent;
        border-top-color: #4989D3;
        top: -9px;
        left: -5px;
      }
      &::before{
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border:6px solid transparent;
        border-bottom-color: #4989D3;
        bottom: -9px;
        left: -5px;
      }
      .time{
        position: absolute;
        white-space: nowrap;
        font-size: 12px;
        left: 1px;
        top: -28px;
        transform: translate(-50%);
        color: rgba(0,0,0,0.65);
      }
      .name{
        position: absolute;
        white-space: nowrap;
        font-size: 12px;
        left: 1px;
        bottom: -28px;
        transform: translate(-50%);
        color: rgba(0,0,0,0.65);
      }
    }
    .nowDay{
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: @green;
      border-radius: 50%;
      transition: all 0.5s linear;
      .info{
        position: absolute;
        left: 50%;
        top: -4px;
        transform: translate(-50%,-100%);
        font-size: 12px;
        width: auto;
        padding: 0 0.6em;
        background-color: @green;
        white-space: nowrap;
        text-align: center;
        border-radius: 8px;
        color: #FFF;
        z-index: 99;
        opacity: 0.6;
        &::after{
          content: '';
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 10px;
          height: 10px;
          background-color: @green;
          transform-origin: center center;
          transform: rotateZ(-45deg) translateY(-50%) translateX(-50%);
          z-index: -1;
        }
      }
    }
  }
}