@import '../common.less';
#sampleCreate{
  .sampleCode{
    margin-left: 12px;
    color: @font85;
  }
  .add_fitting_btn{
    display: inline-block;
    width: auto;
    margin-left: 32px;
    margin-bottom: 33px;
  }
  .info_page{
    display: flex;
    .elInput:nth-child(n+2){
      margin-left:16px;
    }
  }
}