
@blue:#1A95FF;
@red:#F5222D;
@orange:#E6A23C;
@green:#01B48C;
@font85:rgba(0,0,0,0.85);
@font65:rgba(0,0,0,0.65);
@font45:rgba(0,0,0,0.45);
@fontBig:16px;
@fontMiddle:14px;
@fontSmall:12px;
@font-face{
  font-family: 'systemfont';
  src: url('../font/PingFang.ttf'); 
}
.indexMain{
  width: 100%;
  font-family: 'systemfont';
}