// 面包屑样式修改
.el-breadcrumb{
  line-height: 36px!important;
  .el-breadcrumb__item{
    .el-breadcrumb__inner a, .el-breadcrumb__inner.is-link{
      color: rgba(0,0,0,0.45)!important;
      font-weight: normal;
      font-size: 14px!important;
      &:hover{
        color: #1A94FF!important;
      }
    }
    &:nth-last-child(1){
      .el-breadcrumb__inner a, .el-breadcrumb__inner.is-link{
        color: rgba(0,0,0,0.65)!important;
        font-weight: normal;
        font-size: 14px!important;
        &:hover{
          color: rgba(0,0,0,0.65)!important;
        }
      }
    }
  }
}

// 顶部导航栏下拉框样式修改
.el-menu--popup{
 .el-submenu{
    height: 40px!important;
    line-height: 40px!important;
    .el-submenu__title{
      height: 40px!important;
      line-height: 40px!important;
    }
  }
  .el-menu-item{
    height: 40px!important;
    line-height: 40px!important;
    .el-submenu__title{
      height: 40px!important;
      line-height: 40px!important;
    }
  } 
}
