@import '../common.less';
#tutorialSystemList{
  .inputCtn_page{
    display: flex;
    justify-content: center;
    padding: 24px;
    .searchInput{
      width:40%;
      height: 40px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
    .btn{
      height: 40px;
      margin: 0;
      border-top-left-radius:0; 
      border-bottom-left-radius:0;
      line-height: 40px;
    }
  }
  .collapse__inner_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
    .text:hover{
      color: @blue;
      cursor: pointer;
      transition: color 0.1s ease-in-out;
    }
  }
  .orange{
    color: @orange;
  }
}